{% extends "base.html" %}
{% load static %}


{% block title %}
{{ title }}
{% endblock %}

{% block body %}




<!-- LINHA 1 LINHA 1 LINHA 1 -->
<div class="row">
  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->
  <div class="col-12 col-md-12 col-xl-9">
    <!-- Carousel Carousel Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <!-- indicatidores do cursor -->
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        {%for questao in todasMaterias %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{questao.id}}"></li>
        {%endfor%}
      </ol>
      <!-- indicatidores do cursor -->
      <!-- item item item -->
      <div class="carousel-inner">
        <!-- item 1 -->
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'img/banner.png' %}" alt="First slide">
          <div class="carousel-caption d-none d-block">
            <a href="{% url 'sobre' %}">
              <h5 class="titulocorousel">Bem-Vindo(a)!</h5>
            </a>
          </div>
        </div>
        {%for questao in todasMaterias %}
        <!-- item 2 -->


        <div class="carousel-item ">
          <img class="d-block w-100" src="{{questao.img_post.url}}" alt="First slide">
          <div class="carousel-caption d-none d-block">
            <a href="{% url 'post' questao.id %}">
              <h5 class="titulocorousel"> {{questao.titulo}}</h5>
            </a>
          </div>
        </div>
        {%endfor%}


        <!-- item item item -->
        <!-- botao corousel-->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Proximo</span>
        </a>
        <!-- botao corousel-->
      </div>
      <!-- Carousel Carousel Carousel -->
      <h1></h1>
      <h1></h1>

    </div>
  </div>
  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->

  <!-- COLUNA 2 COLUNA 2 COLUNA 2 -->
  <div class="col-12 col-md-12 col-xl-2">
    <h5 style="text-align: right;">tem {{ todasMaterias.count }} materias cadastradas</h5>
  </div>
  <!-- COLUNA 2 COLUNA 2 COLUNA 2 -->

</div>
<!-- LINHA 1 LINHA 1 LINHA 1 -->

<div class="row">
  {%for questao in todasMaterias %}
  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->
  <div class="col-12 col-md-5 col xl-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{questao.id}} - {{questao.titulo}}</h5>
        <p class="card-text">{{questao.descricao}}... </p>
        <a href="{% url 'post' questao.id  %}" class="btn btn-primary">Saiba Mais</a>
      </div>
    </div>
  </div>
  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->
  {%endfor%}
</div>




{% endblock %}