{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}


{% block body %}


<!-- LINHA 1 LINHA 1 LINHA 1 -->
<div class="row">
  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->
  <div class="col-12 col-md-12 xl-12">
    <!-- titulo pagina -->
    <h2>Sobre o blog</h2>
    <p>O blog foi criado com o intuito de promover um conhecimento melhor sobre a ludicidade (jogos) e o ensino da
      Matemática, reiteramos que o lúdico não vem substituir o método tradicional de sala de aula e sim, vai ser usado
      como um apoio pedagógico. Visando um melhor aproveitamento da aula e tornando o aprendizado mais prazeroso. O
      aluno acaba aprendendo brincando.
    <h2>Elaborado por: </h2>
    </p>
  </div>
  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->
</div>
<!-- LINHA 1 LINHA 1 LINHA 1 -->




<!-- LINHA 2 LINHA 2 LINHA 2 -->
<div class="row">

  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->
  <div class="col-12 col-md-6 xl-6">
    <!-- autor 1 -->
    <img src="#/tiago.jpg" width="50%" height="50%" alt="" class="img-thumbnail rounded-circle">
    <h4>TIAGO NUNES LIMA </h4>
    <p>
      ● Graduado em Matemática pela Universidade Federal do Pará (UFPA) Campus de Castanhal; <br>
      ● Especialista em Metodologia do Ensino da Matemática e Física pela Faculdade de Educação Regional Serrana –
      FUNPAC; <br>
      ● Graduado em 2ª Licenciatura em Pedagogia pela Faculdade Campos Elíseos (FCE) – Pólo Castanhal; <br>
      ● Graduando em Engenharia de Computação pela Universidade Federal do Pará (UFPA) – Campus de Castanhal. <br>

    </p>
  </div>
  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->
  <!-- COLUNA 2 COLUNA 2 COLUNA 2 -->
  <div class="col-12 col-md-6 xl-6">
    <!-- autor 1 -->
    <img src="#/celio.jpg" width="50%" height="50%" alt="" class="img-thumbnail rounded-circle">
    <h4>WEVERSON CELIO SILVA DE LIMA </h4>
    <p>
      ● Graduando em Engenharia de Computação pela Universidade Federal do Pará (UFPA) – Campus de Castanhal; <br>
      ● Estagiário na empresa Nevoli Telecom. <br>
    </p>

  </div>
  <!-- COLUNA 2 COLUNA 2 COLUNA 2 -->
</div>
<!-- LINHA 2 LINHA 2 LINHA 2 -->

 <!-- linha de espacamento -->
 <div class="row">
  <div class="col-12">
    <p></p>
  </div>
</div>
<!-- linha de espacamento -->



<!-- LINHA 1 LINHA 1 LINHA 1 -->
<div class="row">
  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->
  <div class="col-12 col-md-12 xl-12">
    <!-- formulario de contato -->
    <h2>Fale conosco </h2>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label>Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label>Mensagem</label>
        <textarea class="form-control" id="mensagem" name="mensagem" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

 <!-- linha de espacamento -->
 <div class="row">
  <div class="col-12">
    <p></p>
  </div>
</div>
<!-- linha de espacamento -->














  </div>
  <!-- COLUNA 1 COLUNA 1 COLUNA 1 -->
</div>
<!-- LINHA 1 LINHA 1 LINHA 1 -->
{% endblock %}