{% load static %}
<!doctype html>
  <!-- 
    UNIVERSIDADE FEDERAL DO PARA
    FACULDADE DE COMPUTACAO
    CURSO BACHARELADO EM ENGENHARIA DE COMPUTACAO
    DISCIPLINA: DESENVOLVIMENTO DE SOFTWARE PARA REDES DE COMPUTADORES E WEB
    PROFESSOR: FABRICIO ALMEIDA ARAUJO
    DISCENTES: 
    TIAGO NUNES LIMA
    WEVERSON CELIO SILVA DE LIMA
  -->
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <link rel="shortcut icon" href="{% static 'img/logo2.png' %}"  />
    <title>   {% block title %} {% endblock %}  </title>
  </head>
  <body>

<!--MENU-->


  <!--MENU MENU MENU--->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e4e11c;">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/logo1.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      A Ludicidade e o Ensino da Matemática
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if page == 'index' %} active {% endif %}">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item  {% if page == 'sobre' %} active {% endif %}">
          <a class="nav-link" href="{% url 'sobre' %}">Sobre </a>
        </li>
      </ul>
    </div>
  </nav>

  <!--MENU MENU MENU--->

<!--MENU-->
<div class="container">
{% block body %} {% endblock %}

 <!-- linha de espacamento -->
 <div class="row">
  <div class="col-12">
    <p></p>
  </div>
</div>
<!-- linha de espacamento -->
</div>



  <!-- RODAPE RODAPE RODAPE-->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          A Ludicidade e o Ensino da Matemática: o uso dos jogos no
          ensino-aprendizagem dos conteúdos matemáticos na escola
          Ana Paula dos Santos e Santos no município de Castanhal.
        </p>
      </section>
      <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://ufpa.br">A Ludicidade e o Ensino da Matemática</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- RODAPE RODAPE RODAPE-->















    <!-- Optional JavaScript; choose one of the two! -->
   
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
  

  </body>
</html>